<section class="section featured-post animate">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="featured-post__inner">
            <div class="section__head">
              <h3 class="section__title">Featured Posts</h3>
            </div>
  
            <div class="row">
              {% for post in site.posts %}
                {% if post.featured %}
                  <div class="article col col-3 col-d-6 col-m-12">
                    <div class="article__inner">
                      <div class="article__head">
                        <a
                          class="article__image"
                          href="{{ post.url | relative_url }}"
                        >
                          {% if post.image contains 'http://' or post.image contains 'https://' %}
                            <img
                              class="lazy"
                              data-src="{{ post.image }}"
                              alt="{{ post.title }}"
                              width="400"
                              height="225"
                              loading="lazy"
                            />
                          {% else %}
                            <img
                              class="lazy"
                              data-src="{{ post.image | relative_url }}"
                              alt="{{ post.title }}"
                              width="400"
                              height="225"
                              loading="lazy"
                            />
                          {% endif %}
                        </a>
                      </div>
                      <div class="article__content">
                        <div class="article__meta">
                          <a
                            class="article__author__link"
                            href="about/index.html"
                            >{{ post.author }}</a
                          >
                          –
                          <time
                            class="article__date"
                            datetime="{{ post.date | date_to_xmlschema }}"
                            >{{ post.date | date: "%d %b, %Y" }}</time
                          >
                        </div>
                        <h2 class="article__title">
                          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                        </h2>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>