<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">
        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/"> Infection Detected </a>
        </div>

        <div class="hamburger">
          <div></div>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="{{ site.baseurl }}/about/" class="nav__link">About</a>
              </li>

              <li class="nav__item">
                <a href="{{ site.baseurl }}/contact/" class="nav__link">Contact</a>
              </li>

              <li class="nav__item">
                <a href="https://sivolko.github.io/mindmaps/" class="nav__link"
                  >MindMaps</a
                >
              </li>

              <li class="nav__item dropdown">
                <span class="nav__link dropdown-toggle"
                  >Extra <i class="ion ion-ios-arrow-down arrow-down"></i
                ></span>
                <div class="dropdown-menu">
                  <a
                    href="https://hugs4bugs.me"
                    class="nav__link"
                    >AppSec</a
                  >

                  <a
                    href="https://hunting.troubleshooterclub.in/"
                    class="nav__link"
                    >Hunting Query</a
                  >
                </div>
              </li>
            </ul>
          </div>

          <div class="nav-buttons">
            <div class="toggle-theme">
              <div
                class="toggle-moon"
                title="Enable dark mode"
                aria-hidden="true"
              >
                <i class="ion ion-ios-moon"></i>
              </div>
              <div
                class="toggle-sun"
                title="Enable light mode"
                aria-hidden="true"
              >
                <i class="ion ion-ios-sunny"></i>
              </div>
            </div>

            <i class="nav__icon icon__search ion ion-md-search"></i>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>