<section class="hero">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="hero__inner">
            <div class="hero__left">
              <h1 class="hero__title">
                Hi, I'm <span>Shubhendu</span>
              </h1>

              <h2 class="hero__job">aka Troubleshooter. </h2>

              <p class="hero__description">
              Threat Hunting & CTF are my passtime.
              </p>

              <a class="hero__button" href="/about">
                <span class="hero__button__arrow"><i class="ion ion-ios-arrow-forward"></i></span>
                <span>Read about Infection Detected</span>
              </a>
            </div>

            <div class="hero__right">
              <div class="hero__image">
                <img class="lazy" data-src="https://media.licdn.com/dms/image/v2/D5622AQGlrbgYFDPgUA/feedshare-shrink_1280/B56ZYdkQWmGsAo-/0/1744252767350?e=1747267200&v=beta&t=lkAJE2tXjf5jSHUYkfOayDETtDK0V8JADg0zuEQSphk" alt="'s Picture"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>