<section class="section section-tags animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h3 class="section__title">Popular Topics</h3>
        </div>

        <div class="row">
          <div class="col col-2 col-d-6 col-m-12">
            <a href="{{ site.baseurl }}/tags/index0b9a.html?tag=family" class="tag-image">
              <span class="tag-name">soc</span>
              <img
                class="lazy"
                data-src="https://miro.medium.com/max/3200/1*vM9RLvlyYG-GZ-QORZalOg.jpeg"
                alt="Family"
              />
            </a>
          </div>

          <div class="col col-2 col-d-6 col-m-12">
            <a href="{{ site.baseurl }}/tags/indexa1cd.html?tag=hobby" class="tag-image">
              <span class="tag-name">Reports</span>
              <img
                class="lazy"
                data-src="https://thumbs.dreamstime.com/b/cyber-report-digital-analytics-results-d-illustration-cyber-report-digital-analytics-results-d-illustration-shows-cloud-computing-123384017.jpg"
                alt="Hobby"
              />
            </a>
          </div>

          <div class="col col-2 col-d-6 col-m-12">
            <a href="{{ site.baseurl }}/tags/index03af.html?tag=interior" class="tag-image">
              <span class="tag-name">Tools</span>
              <img
                class="lazy"
                data-src="https://cdn5.vectorstock.com/i/1000x1000/60/39/cyber-security-technology-vector-20756039.jpg"
                alt="Interior"
              />
            </a>
          </div>

          <div class="col col-2 col-d-6 col-m-12">
            <a href="{{ site.baseurl }}/tags/index0af1.html?tag=kitchen" class="tag-image">
              <span class="tag-name">Playbooks</span>
              <img
                class="lazy"
                data-src="https://th.bing.com/th/id/OIP._Mm03Mi-wpkJUHf-XJoxzQHaEK?rs=1&pid=ImgDetMain"
                alt="Kitchen"
              />
            </a>
          </div>

          <div class="col col-2 col-d-6 col-m-12">
            <a href="{{ site.baseurl }}/tags/indexce0a.html?tag=learn" class="tag-image">
              <span class="tag-name">CTF</span>
              <img
                class="lazy"
                data-src="https://th.bing.com/th/id/OIP.JcEZqrOQ_dj0nubcl5IhygHaD7?rs=1&pid=ImgDetMain"
                alt="Learn"
              />
            </a>
          </div>

          <div class="col col-2 col-d-6 col-m-12">
            <a href="{{ site.baseurl }}/tags/index767b.html?tag=lifestyle" class="tag-image">
              <span class="tag-name">Rules</span>
              <img
                class="lazy"
                data-src="https://t3.ftcdn.net/jpg/00/74/45/74/360_F_74457478_NYo4GAvZrBb68PCKeYoSmaKQfI5DlxSy.jpg"
                alt="Lifestyle"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>