{% assign share_url = site.url | append: page.url %}
{% assign share_title = page.title | default: site.title %}
{% assign share_description = page.description | default: page.excerpt | strip_html | truncate: 160 | default: site.description %}
{% assign share_image = site.url | append: page.image | default: site.url | append: '/assets/images/og-image-optimized.jpg' %}

<div class="post__share">
    <ul class="share__list list-reset">
      <li class="share__item">
        <a class="share__link share__twitter"
          href="https://twitter.com/intent/tweet?text={{ share_title | url_encode }}&amp;url={{ share_url | url_encode }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
      </li>
      <li class="share__item">
        <a class="share__link share__facebook"
          href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | url_encode }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
      </li>
      <li class="share__item">
        <a class="share__link share__pinterest"
          href="http://pinterest.com/pin/create/button/?url={{ share_url | url_encode }}&amp;media={{ share_image | url_encode }}&amp;description={{ share_description | url_encode }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on Pinterest" rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
      </li>
      <li class="share__item">
        <a class="share__link share__linkedin"
          href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ share_url | url_encode }}&amp;title={{ share_title | url_encode }}&amp;summary={{ share_description | url_encode }}&amp;source={{ site.title | url_encode }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on LinkedIn" rel="nofollow"><i class="ion ion-logo-linkedin"></i></a>
      </li>
      <li class="share__item">
        <a class="share__link share__reddit"
          href="https://reddit.com/submit?url={{ share_url | url_encode }}&amp;title={{ share_title | url_encode }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on Reddit" rel="nofollow"><i class="ion ion-logo-reddit"></i></a>
      </li>
      <li class="share__item">
        <a class="share__link share__whatsapp"
          href="https://wa.me/?text={{ share_title | url_encode }}%20{{ share_url | url_encode }}"
          title="Share on WhatsApp" rel="nofollow"><i class="ion ion-logo-whatsapp"></i></a>
      </li>
      <li class="share__item">
        <a class="share__link share__copy"
          href="#"
          onclick="navigator.clipboard.writeText('{{ share_url }}'); this.innerHTML='<i class=\'ion ion-checkmark\'></i>'; setTimeout(() => { this.innerHTML='<i class=\'ion ion-copy\'></i>'; }, 2000); return false;"
          title="Copy link" rel="nofollow"><i class="ion ion-copy"></i></a>
      </li>
    </ul>
  </div>