.header {
  position: relative;
  height: auto;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-alt-color);
  background-color: var(--background-alt-color);
  z-index: 100;

  .header__inner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80px;
  }
}

.logo {
  flex: none;

  &__link {
    font-family: "Inter", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    transition: color 0.25s ease;

    &:hover {
      color: var(--brand-color);
    }
  }

  &__image {
    max-height: 50px;
  }
}

.hamburger {
  position: relative;
  width: 24px;
  height: 20px;
  margin-left: 32px;
  cursor: pointer;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--heading-font-color);
    transition: background .15s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background-color: var(--heading-font-color);
      transition: transform .15s ease;
    }

    &::before {
      transform: translateY(-200%);
    }

    &::after {
      transform: translateY(200%);
    }
  }

  &.is-open {
    div {
      background: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media (max-width: 768px) {
    position: absolute;
    top: 100%;
    right: -300px;
    bottom: auto;
    width: 300px;
    padding: 30px;
    margin-left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--background-alt-color);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
    transform: translateX(100%);
    transition: all .3s ease-in-out;

    &.is-visible {
      right: 0;
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }

  .nav__list {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .nav__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 768px) {
      margin: 0 0 20px;
      width: 100%;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .nav__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-alt-color);
    transition: color .25s ease;

    &:hover {
      color: var(--brand-color);
    }

    &.active-link {
      color: var(--brand-color);
    }
  }
}