<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- begin global wrap -->
    <div class="global-wrap">
      <!-- begin header -->
      {% include header.html %}
      <!-- end header -->

      <!-- begin search -->
      <div class="search" role="dialog" aria-modal="true" aria-labelledby="search-label">
        <div class="container">
          <div class="row">
            <div class="col col-12">
              <div class="search__box">
                <div class="search__group">
                  <i class="search-input-icon ion ion-ios-search" aria-hidden="true"></i>
                  <i class="icon__search__close ion ion-md-close" aria-hidden="true"></i>
                  <label for="js-search-input" class="screen-reader-text" id="search-label">Search for Blog</label>
                  <input type="text" id="js-search-input" class="search__text" autocomplete="off" placeholder="Type to search..." aria-describedby="search-label">
                </div>
                <div class="search-results-list" id="js-results-container" role="region" aria-live="polite"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="search__overlay" role="button" tabindex="0" aria-label="Close search"></div>
      </div>
      <!-- end search -->

      <!-- begin content -->
      <main class="content" aria-label="Content">
        {% if page.url == "/" or paginator.page %}
          <!-- begin hero -->
          {% include hero.html %}
          <!-- end hero -->
          
          <!-- begin section-tags -->
          {% include popular-topics.html %}
          <!-- end section-tags -->
          &nbsp;
          <!-- begin featured-post -->
          {% include featured.html %}
          <!-- end featured-post -->

          {% include popular.html %}

          <!-- begin pagination -->
          {% if paginator.total_pages > 1 %}
          <nav class="pagination animate" aria-label="Page navigation">
            <div class="container">
              <div class="pagination__inner">
                <div class="pagination__list">
                  {% if paginator.previous_page %}
                    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination__prev"><i class="ion ion-ios-arrow-back"></i> Prev</a>
                  {% else %}
                    <span class="pagination__prev disabled"><i class="ion ion-ios-arrow-back"></i> Prev</span>
                  {% endif %}
                  
                  <div class="pagination__count">
                    {% for page in (1..paginator.total_pages) %}
                      {% if page == paginator.page %}
                        <span class="active">{{ page }}</span>
                      {% elsif page == 1 %}
                        <a href="{{ site.baseurl }}/">{{ page }}</a>
                      {% else %}
                        <a href="{{ site.baseurl }}/page/{{ page }}">{{ page }}</a>
                      {% endif %}
                    {% endfor %}
                  </div>
                  
                  {% if paginator.next_page %}
                    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination__next">Next <i class="ion ion-ios-arrow-forward"></i></a>
                  {% else %}
                    <span class="pagination__next disabled">Next <i class="ion ion-ios-arrow-forward"></i></span>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
          {% endif %}
          <!-- end pagination -->
        {% else %}
          {{ content }}
        {% endif %}
      </main>
      <!-- end content -->

      <button class="top" title="Scroll to top" aria-label="Scroll to top">
        <i class="ion ion-md-arrow-round-up" aria-hidden="true"></i>
      </button>

      <!-- begin footer -->
      {% include footer.html %}
      <!-- end footer -->
    </div>
    <!-- end global wrap -->

    {% include scripts-optimized.html %}
  </body>
</html>
