---
layout: default
---

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="page__head">
          {% if page.image %}
          <div class="author-profile">
            <div class="author-profile__avatar">
              <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
            </div>
            {% if page.author_tagline %}
            <p class="author-profile__desc">{{ page.author_tagline }}</p>
            {% endif %}
          </div>
          {% endif %}
          <h1 class="page__title">{{ page.title }}</h1>
          {% if page.description %}
          <div class="page__description">{{ page.description }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="page__content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div> 